<!DOCTYPE html>
{% load staticfiles compress %}
<html>
<head lang="en">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
  <title>PyWaw Summit - 25-26th of May, 2015 - Warsaw, Poland</title>
  <meta name="description" content="PyWaw Summit is a conference organized for everyone interested in Python-related technology, taking place in Warsaw, Poland on 25-26th of May, 2015.">
  <link href="{% static 'img/favicon.png' %}" rel="shortcut icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="PyWaw Summit - 25-26th of May, 2015 - Warsaw, Poland">
  <meta property="og:type" content="website">
  <meta property="og:description" content="PyWaw Summit is a conference organized for everyone interested in Python-related technology, taking place in Warsaw, Poland on 25-26th of May, 2015.">
  <meta property="og:url" content="http://summit.pywaw.org/">
  {% compress css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}" />
  {% endcompress %}
</head>
<body>
  <div class="header">
    <ul class="navigation">
      <li class="navigation__item"><a href="{% url 'home' %}#about" class="navigation__link">About</a></li>
      <li class="navigation__item"><a href="{% url 'home' %}#stats" class="navigation__link">Stats</a></li>
      <li class="navigation__item"><a href="{% url 'home' %}#venue" class="navigation__link">Venue</a></li>
      <li class="navigation__item"><a href="{% url 'home' %}#organisers" class="navigation__link">Organisers</a></li>
      <li class="navigation__item"><a href="{% url 'home' %}#media" class="navigation__link">Media</a></li>
    </ul>
    <div class="navigation-button">
    </div>
    <ul class="header-media">
      <li class="header-media__item"><a class="header-media__link header-media--twitter" href="https://twitter.com/PyWawSummit" target="_blank" class="media__link"></a></li>
      <li class="header-media__item"><a class="header-media__link header-media--facebook" href="https://www.facebook.com/PyWawSummit" target="_blank" class="media__link" ></a></li>
    </ul>
  </div>
  <div class="intro-container">
    <div class="intro">
      <img src="{% static 'img/logo.svg' %}">
      <h1 class="event-name"><span>.pywaw</span><span class="event-name__summit">summit</span></h1>
      <h2 class="intro__subtitle">Join us at our first conference!<br>May 25-26 2015 Warsaw</h2>
    </div>
  </div>

  <div class="about-container" id="about">
    <div class="about">
      <h2 class="about__title">About</h2>
      <div class="about__first-part">
        <p class="about__intro">PyWaw Summit is a conference organized for everyone interested in Python-related technology, taking place in Warsaw, Poland on 25-26th of May, 2015.</p>
        <p>Two days of great talks in English led by mix of local and international speakers. The aim is to provide valuable content in a friendly atmosphere that favours experience sharing and fun.</p>
      </div>
      <div class="about__second-part">
        <p>The conference derives from experienced local Python community called PyWaw, which actively organizes monthly meetups for over 3.5 years. There were already more than 45 meetings and over 100 presentations.</p>
        <p>Willing our community to grow, PyWaw decided to go one step beyond and organize a conference that makes a dent in the Python universe.</p>
      </div>
    </div>
  </div>

  <div class="stats" id="stats">
    <h2 class="stats__title">Stats</h2>
    <dl class="stats__list">
      <li class="stats__item"><span class="stats__data">250+</span><span class="stats__name">attendees</span></li>
      <li class="stats__item"><span class="stats__data">1</span><span class="stats__name">track</span></li>
      <li class="stats__item"><span class="stats__data">20</span><span class="stats__name">talks</span></li>
      <li class="stats__item"><span class="stats__data">2</span><span class="stats__name">days</span></li>
    </dl>
  </div>

  <!--<div id="speakers">-->
    <!--<h2>Speakers</h2>-->
    <!--<ul>-->
      <!--<li><img src="{{ STATIC_URL }}/img/organizers/konrad_halas.jpg" />Konrad Hałas</li>-->
      <!--<li><img src="{{ STATIC_URL }}/img/organizers/przemek_lewandowski.jpg" />Przemek Lewandowski</li>-->
      <!--<li><img src="{{ STATIC_URL }}/img/organizers/piotr_betkier.jpg" />Piotr Betkier</li>-->
    <!--</ul>-->
    <!--<button>See all speakers</button>-->
  <!--</div>-->

  <div class="venue-container" id="venue">
    <div class="map" id="map"></div>
    <div class="venue">
      <div class="venue__box">
        <h2 class="venue__title">Venue</h2>
        <p>Polonia Theater</p>
        <p>Marszałkowska 56<br/>00-545 Warszawa</p>
        <p><a href="http://teatrpolonia.pl">http://teatrpolonia.pl</a></p>
      </div>
    </div>
  </div>

  <div class="organisers-container" id="organisers">
    <div class="organisers">
      <h2 class="organisers__title">Organisers</h2>
      <ul class="organisers__row5">
        <li>
          <div class="organisers__item">
            <img class="organisers__image" src="{{ STATIC_URL }}img/organisers/konrad_halas.png" />
            <div class="organisers__hover">
              <img src="{{ STATIC_URL }}img/organisers/konrad_halas_blue.png" />
              <div class="organisers__info">Konrad Hałas</div>
            </div>
          </div>
        </li>
        <li>
          <div class="organisers__item">
            <img class="organisers__image" src="{{ STATIC_URL }}img/organisers/przemek_lewandowski.png" />
            <div class="organisers__hover">
              <img src="{{ STATIC_URL }}img/organisers/przemek_lewandowski_blue.png" />
              <div class="organisers__info">Przemek Lewandowski</div>
            </div>
          </div>
        </li>
        <li>
          <div class="organisers__item">
            <img class="organisers__image" src="{{ STATIC_URL }}img/organisers/piotr_betkier.png" />
            <div class="organisers__hover">
              <img src="{{ STATIC_URL }}img/organisers/piotr_betkier_blue.png" />
              <div class="organisers__info">Piotr Betkier</div>
            </div>
          </div>
        </li>
        <li>
          <div class="organisers__item">
            <img class="organisers__image" src="{{ STATIC_URL }}img/organisers/wojtek_erbetowski.png" />
            <div class="organisers__hover">
              <img src="{{ STATIC_URL }}img/organisers/wojtek_erbetowski_blue.png" />
              <div class="organisers__info">Wojtek Erbetowski</div>
            </div>
          </div>
        </li>
        <li>
          <div class="organisers__item">
            <img class="organisers__image" src="{{ STATIC_URL }}img/organisers/justyna_sadlo.png" />
            <div class="organisers__hover">
              <img src="{{ STATIC_URL }}img/organisers/justyna_sadlo_blue.png" />
              <div class="organisers__info">Justyna Sadło</div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="organisers__row4 large-centered">
        <li>
          <div class="organisers__item">
            <img class="organisers__image" src="{{ STATIC_URL }}img/organisers/szymon_tezewski.png" />
            <div class="organisers__hover">
              <img src="{{ STATIC_URL }}img/organisers/szymon_tezewski_blue.png" />
              <div class="organisers__info">Szymon Teżewski</div>
            </div>
          </div>
        </li>
        <li>
          <div class="organisers__item">
            <img class="organisers__image" src="{{ STATIC_URL }}img/organisers/tomek_ducin.png" />
            <div class="organisers__hover">
              <img src="{{ STATIC_URL }}img/organisers/tomek_ducin_blue.png" />
              <div class="organisers__info">Tomasz Ducin</div>
            </div>
          </div>
        </li>
        <li>
          <div class="organisers__item">
            <img class="organisers__image" src="{{ STATIC_URL }}img/organisers/michal_chalupczak.png" />
            <div class="organisers__hover">
              <img src="{{ STATIC_URL }}img/organisers/michal_chalupczak_blue.png" />
              <div class="organisers__info">Michał Chałupczak</div>
            </div>
          </div>
        </li>
        <li>
          <div class="organisers__item">
            <img class="organisers__image" src="{{ STATIC_URL }}img/organisers/ania_wszeborowska.png" />
            <div class="organisers__hover">
              <img src="{{ STATIC_URL }}img/organisers/ania_wszeborowska_blue.png" />
              <div class="organisers__info">Ania Wszeborowska</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="media-container" id="media">
    <div class="media">
      <ul class="media__list">
        <li class="media__item"><a href="https://twitter.com/PyWawSummit" target="_blank" class="media__link" ><img src="{% static 'img/icons/twitter.svg' %}" alt="Twitter"></a></li>
        <li class="media__item"><a href="https://www.facebook.com/PyWawSummit" target="_blank" class="media__link" ><img src="{% static 'img/icons/facebook.svg' %}" alt="Facebook"></a></li>
        <li class="media__item"><a href="mailto:info@pywaw.org" class="media__link" target="_blank"><img src="{% static 'img/icons/email.svg' %}" alt="E-mail"></a></li>
      </ul>
    </div>
  </div>

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}/js/venue.js"></script>
</body>
</html>
