{% extends "base.html" %}
{% load staticfiles compress %}
{% block content %}
<div class="intro-container">
  <div class="intro">
    <img src="{% static 'img/logo.svg' %}">
    <h1 class="event-name"><span>.pywaw</span><span class="event-name__summit">summit</span></h1>
    <h2 class="intro__subtitle">Join us at our first conference!</h2><h2 class="intro__date">May 25-26 2015 Warsaw</h2>

    <div class="intro-buttons">
      <div class="cfp">
        <a href="https://docs.google.com/forms/d/1Ip3WkTEyCrgQ2F5cbwOnzhGfX6DopZjA2TaJt6Pik74/viewform" target="_blank" class="cfp__button">Call for papers</a>
        <h3>Closing 1st April 2015</h3>
      </div>
      <div class="registration">
        <a target="_blank" class="registration__button not-active">Registration</a>
        <h3>Coming soon</h3>
      </div>
    </div>

  </div>
</div>

<div class="about-container" id="about">
  <div class="about">
    <h2 class="about__title">About</h2>
    <div class="about__first-part">
      <p class="about__intro">PyWaw Summit is a conference organized for everyone interested in Python-related technology, taking place in Warsaw, Poland on 25-26th of May, 2015.</p>
      <p>Two days of great talks in English led by mix of local and international speakers. The aim is to provide valuable content in a friendly atmosphere that favours experience sharing and fun.</p>
    </div>
    <div class="about__second-part">
      <p>The conference derives from experienced local Python community called PyWaw, which actively organizes monthly meetups for over 3.5 years. There were already more than 45 meetings and over 100 presentations.</p>
      <p>Willing our community to grow, PyWaw decided to go one step beyond and organize a conference that makes a dent in the Python universe.</p>
    </div>
  </div>
</div>
<div class="stats" id="stats">
  <h2 class="stats__title">Stats</h2>
  <dl class="stats__list">
    <li class="stats__item"><span class="stats__data">250</span><span class="stats__name">attendees</span></li>
    <li class="stats__item"><span class="stats__data">1</span><span class="stats__name">track</span></li>
    <li class="stats__item"><span class="stats__data">20</span><span class="stats__name">talks</span></li>
    <li class="stats__item"><span class="stats__data">2</span><span class="stats__name">days</span></li>
  </dl>
</div>
<div class="speakers-container" id="speakers">
  <div class="speakers">
    <h2 class="speakers__title">Speakers</h2>
    <div class="speakers__item">
      <div class="speakers__photo" style="background-image: url({% static 'img/speakers/Andrew-Godwin.png' %})"></div>
      <h3 class="speakers__name">Andrew Godwin</h3>
      <h4 class="speakers__tagline">Django Core Developer</h4>
    </div>
    <div class="speakers__item">
      <div class="speakers__photo" style="background-image: url({% static 'img/speakers/Damien-George.png' %})"></div>
      <h3 class="speakers__name">Damien P. George</h3>
      <h4 class="speakers__tagline">Creator of MicroPython</h4>
    </div>
    <div class="speakers__item">
      <div class="speakers__photo" style="background-image: url({% static 'img/speakers/Holger-Kregel.png' %})"></div>
      <h3 class="speakers__name">Holger Krekel</h3>
      <h4 class="speakers__tagline">Author of pytest and tox</h4>
    </div>
    <div class="speakers__item">
      <div class="speakers__photo" style="background-image: url({% static 'img/speakers/Marc-Andre-Lemburg.png' %})"></div>
      <h3 class="speakers__name">Marc-André Lemburg</h3>
      <h4 class="speakers__tagline">Senior Architect<br>PSF Board Member</h4>
    </div>
    <p class="speakers__tba">... and many more awesome speakers soon!</p>
  </div>
</div>
<div class="venue-container" id="venue">
  <div class="map" id="map"></div>
  <div class="venue">
    <div class="venue__box">
      <h2 class="venue__title">Venue</h2>
      <p class="venue__polonia">Polonia Theater</p>
      <p>Marszałkowska 56<br/>00-545 Warsaw</p>
      <p><a href="http://teatrpolonia.pl">http://teatrpolonia.pl</a></p>
      <div class="venue__map-link-container">
        <a href="https://www.google.pl/maps/place/Teatr+Polonia/@52.223706,21.015961,18z/data=!3m1!4b1!4m2!3m1!1s0x471eccefb2ea2943:0x2adff76fc2eb225d" target="_blank" class="venue__map-link">See the map</a>
      </div>
    </div>
  </div>
</div>
<div class="organisers-container" id="organisers">
  <div class="organisers">
    <h2 class="organisers__title">Organisers</h2>
    <div class="organisers__wrapper">

      <div class="organisers__item">
        <div class="hexagon-wrapper">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{{ STATIC_URL }}img/organisers/konrad.png');">
                <div class="kwadrat">
                  <a href="https://twitter.com/konradhalas" target="_blank" rel="nofollow"><h3>Konrad</h3></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="organisers__item">
        <div class="hexagon-wrapper">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{{ STATIC_URL }}img/organisers/przemek.png');">
                <div class="kwadrat">
                  <a href="https://twitter.com/haxoza" target="_blank" rel="nofollow"><h3>Przemek</h3></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="organisers__item">
        <div class="hexagon-wrapper">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{{ STATIC_URL }}img/organisers/piotr.png');">
                <div class="kwadrat">
                  <a href="https://twitter.com/piotrbetkier" target="_blank" rel="nofollow"><h3>Piotr</h3></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="organisers__item">
        <div class="hexagon-wrapper">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{{ STATIC_URL }}img/organisers/wojtek.png');">
                <div class="kwadrat">
                  <a href="https://twitter.com/erbetowski" target="_blank" rel="nofollow"><h3>Wojtek</h3></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="organisers__item">
        <div class="hexagon-wrapper">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{{ STATIC_URL }}img/organisers/justyna.png');">
                <div class="kwadrat">
                  <h3>Justyna</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="organisers__item organisers__item--second-row organisers__item--offset">
        <div class="hexagon-wrapper">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{{ STATIC_URL }}img/organisers/szymon.png');">
                <div class="kwadrat">
                  <a href="https://twitter.com/jasisz1" target="_blank" rel="nofollow"><h3>Szymon</h3></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="organisers__item organisers__item--second-row">
        <div class="hexagon-wrapper">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{{ STATIC_URL }}img/organisers/tomek.png');">
                <div class="kwadrat">
                  <a href="https://twitter.com/tomasz_ducin" target="_blank" rel="nofollow"><h3>Tomek</h3></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="organisers__item organisers__item--second-row">
        <div class="hexagon-wrapper">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{{ STATIC_URL }}img/organisers/michal.png');">
                <div class="kwadrat">
                  <a href="https://twitter.com/tochomik" target="_blank" rel="nofollow"><h3>Michał</h3></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="organisers__item organisers__item--second-row">
        <div class="hexagon-wrapper">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url('{{ STATIC_URL }}img/organisers/ania.png');">
                <div class="kwadrat">
                  <a href="https://twitter.com/aniawsz" target="_blank" rel="nofollow"><h3>Ania</h3></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sponsors-container">
  <div class="sponsors" id="sponsors">
    <h2 class="sponsors__title">Become a sponsor!</h2>

    <div class="sponsors__text">
      <p>Would you like to support PyWaw Summit conference and help us making it even more awesome?</p>
      <p><a href="{{ STATIC_URL }}files/pywaw-sponsorship.pdf" target="_blank">Check our sponsorship offer</a> and contact us at <a href="mailto:sponsors@pywaw.org">sponsors@pywaw.org</a></p>
      <p>If you have any other idea how you can contribute we are happy to hear about it!</p>
    </div>

  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/navbar-scroll.js"></script>
{% endblock %}
