{% extends "base.html" %}

{% block content %}
<div class="payment">
  <h2 class="payment__title">Registration completed</h2>
  <p class="payment__section">Thank you for registration at PyWaw Summit conference! Please make a transfer to one of following bank account:</p>
  <div class="payment__table-container">
    <table class="payment__table">
      <thead>
        <tr>
          <th>Currency</th>
          <th>Price&nbsp;(including&nbsp;23%&nbsp;tax)</th>
          <th>Bank account</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>PLN</td>
          <td>340</td>
          <td>07 1090 2851 0000 0001 3023 6162</td>
        </tr>
        <tr>
          <td>EUR</td>
          <td>85</td>
          <td>77 1090 2851 0000 0001 2240 0891</td>
        </tr>
        <tr>
          <td>USD</td>
          <td>95</td>
          <td>27 1090 2851 0000 0001 2240 0918</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p class="payment__section">You should also receive an email with all payments details. If you have any questions please conntact us via <a mailto="registration@pywaw.org">registration@pywaw.org</a></p>
  <p class="payment__section">You could always visit this page to check your payment status. <br>Payment status: {% if attendee.is_paid %}<span class="payment__paid">paid</span>{% else %}<span class="payment__notpaid">not paid</span>{% endif %}.</p>
</div>
{% endblock %}
