

body {
  font-family: 'Lato', sans-serif;
  color: $grey-color;
}

h1, h2, h3 {
  font-weight: 300;
}

a {
  text-decoration: none;
}

@mixin title-font() {
  text-transform: uppercase;
  font-size: rem-calc(30);
  font-weight: 400;
}

@mixin section-title() {
  @include grid-column(12);
  @include title-font;

  color: $orange-color;
}

.header {
  width: 100%;
  height: 35px;
  background-color: $orange-color;

  @media #{$small-only} {
    height: 60px;
  }
}

.navigation {
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: rem-calc(15);

  @media #{$small-only} {
    display: none;
  }
}

.navigation__item {
  float: left;
}

.navigation__link {
  text-transform: uppercase;
  color: white;
  font-size: rem-calc(18);
  display: block;
  padding: 10px 27px;
  
  &:hover {
    background: #000000;
  }
}

.navigation-button {
  background: url(../../img/icons/menu.svg) no-repeat center;
  background-size: 50px 50px;
  display: none;
  width: 60px;
  height: 100%;
  margin-left: 10px;

  @media #{$small-only} {
    display: block;
    float: left;
  }
}

.header-media {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
  float: right;
  
  @media #{$small-only} {
    display: block;
  }
}

.header-media__item {
  display: block;
  float: right;
}

.header-media__link {
  display: block;
  background-size: contain !important;
  margin: 0 6px;
  width: 25px;
  height: 20px;
  margin-top: 7px;

  @media #{$small-only} {
    width: 38px;
    height: 39px;
    margin-top: 10px;
  }
}

.header-media--twitter {
  background: url(../../img/icons/twitter.svg) no-repeat center;
}

.header-media--facebook {
  background: url(../../img/icons/facebook.svg) no-repeat center;
}

.header-media--mail {
  background: url(../../img/icons/email.svg) no-repeat center;

}

.navigation-button2{
  height: 30px;
}

.intro-container {
  @include grid-row;
}

.intro {
  @include grid-column(11);
  padding-top: 60px;
  padding-bottom: 20px;
  text-align: center;
  
  @media #{$small-only} {
    float: none;
    margin: 0 auto;
  }
  
}

.intro-buttons {
  margin-top: 40px;
  width: 100%;

}

.cfp {
  @include grid-column($columns: 4, $offset: 1);
}

.cfp__button {
  @include button();
  
  text-transform: uppercase;
  font-weight: 400;
  font-size: rem-calc(21);
  line-height: rem-calc(10);
  height: 41px;
  margin: 0;
}

.registration {
  @include grid-column($columns: 4, $offset: 2);
}

.registration__button {
  @include button($disabled: true);
  text-transform: uppercase;
  font-weight: 400;
  font-size: rem-calc(21);
  line-height: rem-calc(10);
  height: 41px;
  margin: 0;
}

.event-name {
  font-family: Questrial;
  font-size: 68px;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 1px;

  @media #{$small-only} {
    font-size: 42px;
  }
}

.intro__subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
}

.event-name__summit {
  color: $orange-color;
}

.about-container {
  background: url('../../img/backgrounds/about.png') no-repeat;
  background-size: cover;
}

.about {
  @include grid-row();
  padding-bottom: 50px;
  color: white;
  font-family: 'Lato';
  font-weight: 300;
}

.about__title {
  @include section-title;
}

.about__first-part {
  @include grid-column(6);
  @media #{$small-only} {
    @include grid-column(12);
  }
}

.about__second-part {
  @include grid-column(6);
  @media #{$small-only} {
    @include grid-column(12);
  }
}

.stats {
  @include grid-row();
  padding-bottom: 50px;
}

.stats__list {
  list-style-type: none;
}

.stats__item {
  @include grid-column(3);
  display: inline;
  text-align: center;
  @media #{$small-only} {
    @include grid-column(6);
  }
}

.stats__title {
  @include section-title;
}

.stats__data {
  color: $blue-color;
  font-size: 100px;
  display: block;
}

.stats__name {
  font-size: 40px;
  color: #7F807D;
}

.organisers-container {
  background-image: url('../../img/backgrounds/organisers.jpg');
  color: white;

  @media #{$small-only} {
    background: none;
  }
}

.speakers-container {
  background-image: url('../../img/backgrounds/speakers.jpg');
  color: white;
}

.organisers__title {
  @include section-title;
}

.organisers {
  @include grid-row();
}

.organisers__wrapper {
  overflow: hidden;
  width: 100%;
}

.organisers__item {
  width: 170px;
  float: left;
  margin: 0 15px;

  @media #{$small-only} {
    @include grid-column( $columns: 6);
    margin: 0;
    margin-bottom: 8px;

  }
}

.organisers__item--offset {
  margin-left: 115px;

  @media #{$small-only} {
    margin-left: 0;
  }
}

.organisers__item--second-row {
  margin-top: -45px;

  @media #{$small-only} {
    margin-top: 0;
  }
}

.organisers__info {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-top: 8px;

  @media #{$small-only} {
    color: $gray-second-color;
    font-size: rem-calc(18);
  }
}

.venue-container {
  height: 400px;
  position: relative;
  padding-top: 70px;
}

.map {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
}

.venue {
  @include grid-row();
  pointer-events: none;
  position: relative;
  width: 100%;
}

.venue__box {
  @include grid-column(3);
  z-index: 1;
  background-color: rgba(white, 0.8);
  pointer-events: auto;
  @media #{$small-only} {
    @include grid-column(12);
  }
}

.venue__title {
  @include title-font;
}

.venue__map-link {
  @include button();
  text-transform: uppercase;
  background-color: $orange-color;
  width: 100%;
  display: none;
  @media #{$small-only} {
    display: block;
  }
}

.media-container {
  background-image: url('../../img/backgrounds/media.png');
  color: white;
}

.media {
  @include grid-row();
  padding-bottom: 20px;
}

.media__list {
  @include grid-column(12);
  text-align: center;
  list-style-type: none;
}

.media__item {
  display: inline;
  margin-right: 20px;
}

.media__link {
  text-transform: uppercase;
  color: white;
  font-size: 18px;
}

// Fixing Google Maps glitches
.gm-style img { max-width: none; }
.gm-style label { width: auto; display: inline; }
