

body {
  font-family: 'Lato', sans-serif;
  color: $grey-color;
  font-size: rem-calc(18);
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #2ea0c2;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@mixin title-font() {
  text-transform: uppercase;
  font-size: rem-calc(30);
  font-weight: 500;
}

@mixin section-title() {
  @include grid-column($columns: 12);
  @include title-font;

  color: $orange-color;
}

.header {
  width: 100%;
  height: 35px;
  background-color: $orange-color;
  position: fixed;
  z-index: 1000;
  
  @media #{$small-only} {
    height: 60px;
  }
}

.navigation {
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: rem-calc(15);

  @media #{$small-only} {
    display: none;
  }
}

.navigation__item {
  float: left;
}

.navigation__link {
  text-transform: uppercase;
  color: white;
  font-size: rem-calc(18);
  font-weight: 600;
  display: block;
  padding: 10px 27px;

  &:hover {
    background: #dd860a;
  }
}

.navigation-button {
  background: url(/static/img/icons/menu.svg) no-repeat center;
  background-size: 50px 50px;
  display: none;
  width: 60px;
  height: 100%;
  margin-left: 10px;
  cursor: pointer;

  @media #{$small-only} {
    display: block;
    float: left;
  }
}

.header-media {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
  float: right;

  @media #{$small-only} {
    display: block;
  }
}

.header-media__item {
  display: block;
  float: right;
  padding: 7px;

  &:hover {
    background-color: #dd860a;
  }
}

.header-media__link {
  display: block;
  background-size: contain !important;

  width: 25px;
  height: 21px;

  @media #{$small-only} {
    width: 38px;
    height: 39px;
    margin-top: 5px;
  }
}

.header-media--twitter {
  background: url(/static/img/icons/twitter.svg) no-repeat center;
}

.header-media--facebook {
  background: url(/static/img/icons/facebook.svg) no-repeat center;
}

.header-media--mail {
  background: url(/static/img/icons/email.svg) no-repeat center;
}

.navigation-button2{
  height: 30px;
}


/*

  SIDEBAR Mobile

*/


.sidebar-nav {
  padding-top: 80px;
  width: 100%;
  height: 400px;
  transform: translate3d(-100%, 0px, 0px);
  -webkit-transform: translate3d(-100%, 0px, 0px);
  transition: all 0.5s ease 0s;
  background: #404041;
  position: fixed;
  z-index: 1000;
  top: 0;
  -webkit-perspective: 1000px;
}

.sidebar-nav--opened {
  transform: translate3d(0%, 0px, 0px);
  -webkit-transform: translate3d(0%, 0px, 0px);
}

.sidebar__menu {
  list-style: none;
}

.sidebar__menu__item {
  margin-bottom: 20px;
}

.sidebar__menu__link {
  color: #fff;
  font-size: 18px !important;
  display: block;
  text-align: center;

  &:hover {
    color: #e5e5e5;
  }
}

.sidebar__menu__item--active {

  .sidebar__menu__link {
    color: #e5e5e5;
    font-size: 18px !important;
  }
}



.intro-container {
  @include grid-row;
}

.intro {
  @include grid-column($columns: 12);
  padding-top: 110px;
  padding-bottom: 20px;
  text-align: center;

  @media #{$small-only} {
    float: none;
    margin: 0 auto;
    padding-top: 140px;
  }

}

.intro-buttons {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 40px;

  h3 {
    font-size: rem-calc(21);
  }
}

.cfp {
  width: 256px;
  float: left;

  @media #{$small-only} {
    float: none;
    @include grid-column($columns: 10, $offset: 1);
  }
}

.cfp__button {
  @include button();

  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: rem-calc(21);
  line-height: rem-calc(10);
  white-space: nowrap;
  height: 41px;
  margin: 0;
  width: 100%;
}

.registration {
  width: 256px;
  float: right;

  @media #{$small-only} {
    float: none;
    @include grid-column($columns: 10, $offset: 1);
    padding-top: 20px;
  }
}

.registration__button {
  @include button($disabled: true);
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: rem-calc(21);
  line-height: rem-calc(10);
  height: 41px;
  margin: 0;
  background-color: #e89715;
  width: 100%;

  &.not-active {
    background: #7f807d;
    pointer-events: none;
    cursor: default;
  }
}

.event-name {
  font-family: Questrial, sans-serif;
  font-size: rem-calc(68);
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 1px;

  @media #{$small-only} {
    font-size: rem-calc(42);
  }
}

.intro__subtitle {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: rem-calc(34);

  @media #{$small-only} {
    font-size: rem-calc(24);
    margin-top: 15px;
  }
}

.intro__date {
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: rem-calc(36);

  @media #{$small-only} {
    font-size: rem-calc(25);
  }
}

.event-name__summit {
  color: $orange-color;
}

.about-container {
  background: url('/static/img/backgrounds/about.png') no-repeat;
  background-size: cover;

  @media #{$small-only} {
    background-image: url('/static/img/backgrounds/about-mobile.jpg');
  }
}

.about {
  @include grid-row();
  padding-bottom: 50px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;

  p {
    margin-top: 0;
    line-height: rem-calc(22);
  }
}

.about__title {
  @include section-title;

  margin-bottom: 20px;
}

.about__first-part {
  @include grid-column($columns: 6);
  @media #{$small-only} {
    @include grid-column($columns: 12);
  }
}

.about__second-part {
  @include grid-column($columns: 6);
  @media #{$small-only} {
    @include grid-column($columns: 12);
  }
}

.stats {
  @include grid-row();
  padding-bottom: 50px;
}

.stats__list {
  list-style-type: none;
}

.stats__item {
  @include grid-column($columns: 3);
  display: inline;
  text-align: center;
  @media #{$small-only} {
    @include grid-column($columns: 6);
  }
}

.stats__title {
  @include section-title;
}

.stats__data {
  color: $blue-color;
  font-size: rem-calc(100);
  font-weight: 300;
  display: block;

  @media #{$small-only} {
    font-size: rem-calc(80);
  }
}

.stats__name {
  font-size: rem-calc(24);
  color: #7F807D;
  
  @media #{$small-only} {
    font-size: rem-calc(20);
  }
}

.organisers-container {
  background-image: url('/static/img/backgrounds/organisers.jpg');
  color: white;

  @media #{$small-only} {
    background: none;
  }
}


/*

  SPEAKERS

*/




.hexagon {
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
  cursor: pointer;
}
.hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.hexagon-in2 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);

}
.hexagon-in2:hover {
  .kwadrat {
    bottom: 50px;
  }
}

.hexagon2 {
  width: 170px;
  height: 340px;
  margin-top: -70px;
}

.hexagon-wrapper {
  width: 170px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
}

.kwadrat {
  background: #e89715;
  width: 170px;
  height: 100px;
  position: absolute;
  bottom: -30px;
  text-align: center;
  padding-top: 15px;
  @include single-transition($property:bottom, $speed:400ms, $ease:ease-out);

  h3 {
    color: #fff;
    text-align: center;
    font-size: rem-calc(18);
    font-weight: 600;
    border-bottom: 1px solid #fff;
    display: inline;
  }
}


.speakers-container {
  background-image: url('/static/img/backgrounds/speakers.jpg');
  color: white;
}

.organisers__title {
  @include section-title;
}

.organisers {
  @include grid-row();
}

.organisers__wrapper {
  overflow: hidden;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

  @media #{$small-only} {
    padding: 0;
  }
}

.organisers__item {
  width: 170px;
  float: left;
  margin: 0 15px;

  @media #{$small-only} {
    @include grid-column($columns: 6);
    margin: 0;
    margin-bottom: 8px;
  }

  @media #{$medium-only} {
    @include grid-column($columns: 4);
    margin: 0;
    margin-bottom: 8px;
  }
}

.organisers__item--offset {
  margin-left: 115px;

  @media #{$small-only} {
    margin-left: 0;
  }

  @media #{$medium-only} {
    margin-left: 0;
  }
}

.organisers__item--second-row {
  margin-top: -30px;

  @media #{$small-only} {
    margin-top: 0;
  }

  @media #{$medium-only} {
    margin-top: 0;
  }

}

.organisers__info {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-top: 8px;
  font-size: rem-calc(18);

  @media #{$small-only} {
    color: $gray-second-color;
  }
}

.venue-container {
  height: 400px;
  position: relative;
  padding-top: 70px;

  @media #{$small-only} {
    padding-top: 0;
  }
}

.map {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;

  @media #{$small-only} {
    display: none;
  }
}

.venue {
  @include grid-row();
  pointer-events: none;
  position: relative;
  width: 100%;
  
  @media #{$small-only} {
    background-image: url('/static/img/backgrounds/map-mobile.png');
  }
}

.venue__box {
  @include grid-column($columns: 3);
  z-index: 1;
  background-color: rgba(white, 0.8);
  pointer-events: auto;
  font-size: rem-calc(18);
  
  @media #{$small-only} {
    @include grid-column($columns: 12);
  }
}

.venue__title {
  @include title-font;

  @media #{$small-only} {
    color: $orange-color;
  }
}

.venue__polonia {
  font-size: rem-calc(21);
}

.venue__map-link-container {
  @include grid-column($columns: 10, $offset: 1);
  display: none;
  @media #{$small-only} {
    display: block;
  }
}

.venue__map-link {
  @include button();
  text-transform: uppercase;
  background-color: $orange-color;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: rem-calc(21);
  line-height: rem-calc(10);
  width: 100%;
}

.media-container {
  background-image: url('/static/img/backgrounds/media.png');
  color: white;
}

.media {
  @include grid-row();
  padding-bottom: 20px;
}

.media__list {
  @include grid-column($columns: 12);
  text-align: center;
  list-style-type: none;
}

.media__item {
  display: inline;
  margin-right: 20px;
}

.media__link {
  text-transform: uppercase;
  color: white;
  font-size: 18px;
}

// Fixing Google Maps glitches
.gm-style img { max-width: none; }
.gm-style label { width: auto; display: inline; }


/*

  Sponsors

*/

.sponsors-container {
  @include grid-row;
}


.sponsors {
  margin-bottom: 50px;
}

.sponsors__text {
  margin-left: 10px;
}

.sponsors__title {
  @include section-title;

  margin-bottom: 20px;
}


/*

  Footer

*/


.footer {
  width: 100%;
  height: 125px;
  background: url('/static/img/backgrounds/media.png');
  background-position: center;
}

.footer-inner {
  @include grid-row;
  overflow: hidden;
}

.footer__text {
  color: #fff;
  width: 100%;
  text-align: center;
  font-weight: 300;
  margin-top: 20px;
}

.footer__social-icons {
  width: 150px;
  margin: 0 auto;
  overflow: hidden;
}

.footer-media {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
  float: right;
  margin-top: 15px;

  @media #{$small-only} {
    display: block;
  }
}

.footer-media__item {
  display: block;
  float: right;
  padding: 7px;
}

.footer-media__link {
  display: block;
  background-size: contain !important;
  width: 35px;
  height: 25px;
}