@import "foundation/scss/foundation/components/grid";
@import "foundation/scss/foundation/components/block-grid";

$orange-color: #E89715;
$grey-color: #7F807D;

@font-face {
  font-family: 'Questrial-Regular';
  font-style: normal;
  font-weight: normal;
  src: url(../../fonts/Questrial-Regular.otf) format('opentype');
}

body {
  font-family: 'Questrial-Regular', sans-serif;
  color: $grey-color;
}

h1, h2, h3 {
  font-weight: 300;
}

a {
  text-decoration: none;
}

@mixin title-font() {
  text-transform: uppercase;
  font-size: 36px;
}

@mixin section-title() {
  @include grid-column(12);
  @include title-font;
}

.header {
  width: 100%;
  height: 32px;
  background-color: $grey-color;
  @media #{$small-only} {
    height: 60px;
  }
}

.navigation {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  @media #{$small-only} {
    display: none;
  }
}

.navigation__item {
  display: inline;
  margin-right: 20px;
}

.navigation__link {
  text-transform: uppercase;
  color: white;
  font-size: 18px;
}

.navigation-button {
  background: url(../../img/icons/menu.svg) no-repeat center;
  background-size: 50px 50px;
  display: none;
  width: 60px;
  height: 100%;
  margin-left: 10px;
  @media #{$small-only} {
    display: block;
    float: left;
  }
}

.header-media {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
}

.header-media__item {
  display: block;
  float: right;
}

.header-media__link {
  display: block;
  width: 60px;
  height: 60px;
}

.header-media--twitter {
  background: url(../../img/icons/twitter.svg) no-repeat center;
}

.header-media--facebook {
  background: url(../../img/icons/facebook.svg) no-repeat center;
}

.navigation-button2{
  height: 30px;
}

.intro-container {
  @include grid-row;
}

.intro {
  @include grid-column(12);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.event-name {
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 0;
}

.intro__subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
}

.event-name__summit {
  color: $orange-color;
}

.about-container {
  background-image: url(../../img/about-background.png);
}

.about {
  @include grid-row();
  padding-bottom: 50px;
  color: white;
}

.about__title {
  @include section-title;
}

.about__first-part {
  @include grid-column(6);
}

.about__second-part {
  @include grid-column(6);
}

.about__intro {
  text-indent: 30px;
}

.stats {
  @include grid-row();
  padding-bottom: 50px;
}

.stats__list {
  list-style-type: none;
}

.stats__item {
  @include grid-column(3);
  display: inline;
  text-align: center;
}

.stats__title {
  @include section-title;
}

.stats__data {
  color: $orange-color;
  font-size: 100px;
  display: block;
}

.stats__name {
  font-size: 40px;
}

.organisers-container {
  background-image: url(../../img/organisers-background.png);
  color: white;
}

.organisers__title {
  @include section-title;
}

.organisers {
  @include grid-row();
}

.organisers__row5 {
  @include block-grid(5);
}

.organisers__row4 {
  @include grid-column($columns: 10, $offset: 1);
  @include block-grid(4);
  margin-top: -3rem;
}

.organisers__hover {
  display: none;
}

.organisers__hover img {
  position: absolute;
}

.organisers__item:hover .organisers__image{
  display: none;
}

.organisers__item:hover .organisers__hover{
  display: block;
  position: relative;
}

.organisers__info {
  position: absolute;
  width: 100%;
  padding-top: 65%;
  text-align: center;
}

.venue-container {
  height: 400px;
  position: relative;
  padding-top: 70px;
}

.map {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
}

.venue {
  @include grid-row();
  pointer-events: none;
  position: relative;
  width: 100%;
}

.venue__box {
  @include grid-column(3);
  z-index: 1;
  background-color: rgba(white, 0.8);
  pointer-events: auto;
}

.venue__title {
  @include title-font;
}

.media-container {
  background-image: url(../../img/media-background.png);
  color: white;
}

.media {
  @include grid-row();
  padding-bottom: 20px;
}

.media__title {
  @include section-title;
}

.media__list {
  @include grid-column(12);
  text-align: center;
  list-style-type: none;
}

.media__item {
  display: inline;
  margin-right: 20px;
}

.media__link {
  text-transform: uppercase;
  color: white;
  font-size: 18px;
}

// Fixing Google Maps glitches
.gm-style img { max-width: none; }
.gm-style label { width: auto; display: inline; }
